<div class="card-itmes">

  <div class="card-description-itmes">
    <h2>L'Expertise au quotidien</h2>
  </div>

  <%=image_tag 'logo.png', class: 'card-logo-itmes'%>

  <%= link_to do %>
    <%=image_tag 'fr.png', class: 'card-fr-itmes'%>
  <% end %>
  <%= link_to do %>
    <%=image_tag 'eng.png', class: 'card-en-itmes'%>
  <% end %>

</div>
