<div class="card-itmes" style="background-image: linear-gradient(-225deg, rgba(102, 102, 102, 0.5) 0%, rgba(102, 102, 102, 0.5) 50%), url('<%= image_path "turbine.jpg" %>');">

  <div class="card-description-itmes">
    <h2>L'Expertise au quotidien</h2>
  </div>

  <%= link_to accueil_path do %>
    <%=image_tag 'logo.png', class: 'card-logo-itmes'%>
  <% end %>


  <%= link_to do %>
    <%=image_tag 'fr.png', class: 'card-fr-itmes'%>
  <% end %>

  <%= link_to do %>
    <%=image_tag 'eng.png', class: 'card-en-itmes'%>
  <% end %>

</div>
