<div class="footer">
  <div class="footer-links">
    <p>|<%= link_to contact_path do %>
      <%= t('footer.mention1') %>
      <% end %>
    </p>

    <p>|<%= link_to legal_terms_path do %>
      <%= t('footer.mention2') %>
      <% end %>
    </p>

    <p>|<%= link_to do %>
    <%= t('footer.mention3') %>
      <% end %>
    |</p>
  </div>
</div>
