<nav class="navbar_itmes navbar-default text-center">
  <div class="container-fluid text-center">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1 text-center">
      <ul class="nav navbar-nav text-center">
        <li class="dropdown">
          <%= link_to "Accueil", accueil_path, class: "dropdown-toggle"%>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Entreprise <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Présentation", entreprise_presentation_path %></li>
            <li><%= link_to "QHSE", entreprise_qhse_path %></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Technologie <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Trubine à vapeur", techno_turbine_path %></li>
            <li><%= link_to "Turbo pompe alimentaire", techno_turbo_path %></li>
            <li><%= link_to "Pompe primaire", techno_pompe_path %></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Intervention sur site <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Instrumentation</a></li>
            <li><a href="#">Mise en service</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Surveillance <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "blabla", surveillance_path %></li>
            <li><%= link_to "blabla", surveillance_path %></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pièces de rechange <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "blabla", piece_path %></li>
            <li><%= link_to "blabla", piece_path %></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Formation <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "blabla", formation_path %></li>
            <li><%= link_to "blabla", formation_path %></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "blabla", contact_path %></li>
            <li><%= link_to "blabla", contact_path %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
