<nav class="navbar_itmes navbar-default text-center">
  <div class="container-fluid text-center">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1 text-center">
      <ul class="nav navbar-nav text-center">
        <li class="dropdown">
          <%= link_to "Accueil", accueil_path, class: "dropdown-toggle", id: "couleur-bouton-lien-itmes"%>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false", id="couleur-bouton-lien-itmes">Entreprise <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Présentation", entreprise_presentation_path, id: "taille-lien-drop-itmes" %></li>
            <li><%= link_to "QHSE", entreprise_qhse_path, id: "taille-lien-drop-itmes" %></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false", id="couleur-bouton-lien-itmes">Technologie <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Trubine à vapeur", techno_turbine_path, id: "taille-lien-drop-itmes" %></li>
            <li><%= link_to "Turbo pompe alimentaire", techno_turbo_path, id: "taille-lien-drop-itmes" %></li>
            <li><%= link_to "Pompe primaire", techno_pompe_path, id: "taille-lien-drop-itmes" %></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false", id="couleur-bouton-lien-itmes">Intervention sur site <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Instrumentation", intervention_instru_path, id: "taille-lien-drop-itmes" %></li>
            <li><%= link_to "Mise en service", intervention_service_path, id: "taille-lien-drop-itmes" %></li>
          </ul>
        </li>

        <li class="dropdown">
          <%= link_to "Surveillance", surveillance_path, class: "dropdown-toggle", id: "couleur-bouton-lien-itmes"%>
        </li>

        <li class="dropdown">
          <%= link_to "Pièces de rechange", piece_path, class: "dropdown-toggle", id: "couleur-bouton-lien-itmes"%>
        </li>

        <li class="dropdown">
          <%= link_to "Formation", formation_path, class: "dropdown-toggle", id: "couleur-bouton-lien-itmes"%>
        </li>

        <li class="dropdown">
          <%= link_to "Contact", contact_path, class: "dropdown-toggle", id: "couleur-bouton-lien-itmes"%>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
