<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">

      <div class="title">
        <h3><%= t('home.title') %></h3>
        <h1><%= t('home.welcome') %></h1>

      </div>

      <div class="content">
        <p><%= t('home.body1') %></p>
        <p><%= t('home.body2') %></p>
        <p><%= t('home.body3') %></p>
      </div>

      <div class="image">
        <%=image_tag 'turbine1.jpeg', height: 300, width: 450%>
      </div>

    </div>
  </div>
</div>
