<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
      <div class="title">
        <h3>Intervention sur site</h3>
        <h1>INSTRUMENTATION</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="image-opacity-itmes">
        <%= image_tag 'etat-des-lieux.jpg', height: 175, width: 360, crop: :fill %>
        </div>
        <div class="card-description">
          <button type="button" class="bouton-modal-itmse" data-toggle="modal" data-target="#myModal-1">
          <h2 id="centres-1-itmes">Assistance aux chargé d’affaires</h2>
          </button>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="image-opacity-itmes">
          <%= image_tag 'hommeturbine.png', height: 175, width: 360 %>
        </div>
        <div class="card-description">
          <button type="button" class="bouton-modal-itmse" data-toggle="modal" data-target="#myModal-2">
          <h2 id="centres-2-itmes">Analyse des relevés</h2>
          </button>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-description">
          <button type="button" class="bouton-modal-itmse" data-toggle="modal" data-target="#myModal-3">
            <h2 id="centres-3-itmes">Assistance à l’arrêt et redémarrage du groupe turboalternateur</h2>
          </button>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="image-opacity-itmes">
        <%= image_tag 'etat-des-lieux.jpg', height: 175, width: 360, crop: :fill %>
        </div>
        <div class="card-description">
          <button type="button" class="bouton-modal-itmse" data-toggle="modal" data-target="#myModal-4">
          <h2 id="centres-4-itmes">Contrôle des faux ronds aux accouplements</h2>
          </button>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card">
        <div class="image-opacity-itmes">
          <%= image_tag 'hommeturbine.png', height: 175, width: 360 %>
        </div>
        <div class="card-description">
          <button type="button" class="bouton-modal-itmse" data-toggle="modal" data-target="#myModal-5">
          <h2 id="centres-5-itmes">Signature hydraulique</h2>
          </button>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <!-- insert <div class="card"> -->
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-description">
          <button type="button" class="bouton-modal-itmse" data-toggle="modal" data-target="#myModal-6">
            <h2 id="centres-6-itmes">Révision d’appareil hydraulique</h2>
          </button>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-offset-4">
      <div class="card">
        <div class="image-opacity-itmes">
        <%= image_tag 'etat-des-lieux.jpg', height: 175, width: 360, crop: :fill %>
        </div>
        <div class="card-description">
          <button type="button" class="bouton-modal-itmse" data-toggle="modal" data-target="#myModal-7">
          <h2 id="centres-7-itmes">RET</h2>
          </button>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="myModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Assistance aux chargé d’affaires</h4>
        </div>
        <div class="modal-body">
          <p>Suivi des missions de mise en service afin d’optimiser les régimes les plannings et les attentes.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <br>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Analyse des relevés</h4>
        </div>
        <div class="modal-body">
          <p>Et des courbes effectués durant les essais lors de l’arrêt de la turbine et de sa requalification.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Assistance à l’arrêt et redémarrage du groupe turboalternateur</h4>
        </div>
        <div class="modal-body">
          <p>En appui pour le pôle mécanique du CNPE, nous effectuerons un suivi de l’arrêt et du démarrage du groupe turboalternateur.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal-4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Contrôle des faux ronds aux accouplements</h4>
        </div>
        <div class="modal-body">
         <p>Nous effectuerons un contrôle de la coaxialité des accouplements du GTA.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Signature hydraulique</h4>
        </div>
        <div class="modal-body">
          <p>Nous effectuons la signature hydraulique d’appareil de régulation et de sécurité du GTA. (surveilleur de vide, surveilleur de pression…).</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal-6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Révision d’appareil hydraulique</h4>
        </div>
        <div class="modal-body">
          <p>Nous effectuons la révision de petits appareils hydrauliques  (surveileur, relais, vide vite…). Avec reprise des réglages si nécessaire.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal-7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">RET</h4>
        </div>
        <div class="modal-body">
          <p>Prise de régime de coordination RET sur le groupe turboalternateur sur des phases de montage et de démontage.</p>
        </div>
      </div>
    </div>
  </div>

</div>


